body {
    background-color: #ffffff;
}

#navbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

#navbar a {
    padding: 4px 8px 4px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.3s;
}

#open_navbar {
    cursor: pointer;
}

#close_navbar {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
}


/* #sidebar {
    padding: 16px;
} */

#sidebar-1 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 16px;
    padding-bottom: 16px;
}

#open_sidebar {
    cursor: pointer;
}

#close_sidebar {
    display: none;
    cursor: pointer;
}

#sidebar-2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 16px;
    padding-bottom: 16px;
}

#max_sidebar {
    cursor: pointer;
}

#min_sidebar {
    display: none;
    cursor: pointer;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#command_space {
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

 ::-webkit-scrollbar-track {
    background: transparent;
}

 ::-webkit-scrollbar-thumb {
    background: #F06060;
}